__pycache__
papers/*
papers
kg/ontology/*
backpain_data/*
backpain_data_upgraded_ontology/clbp_tmp/*
backpain_data_upgraded_ontology/clbp_ontology/*
backpain_data_upgraded_ontology/clbp_medical_ontology/*
backpain_data_upgraded_ontology/sci_ontology/*
backpain_data_upgraded_ontology/low_level_ontology/*
backpain_data_upgraded_ontology/high_level_ontology/*
backpain_data_upgraded_ontology/full_ontology/*
backpain_data_upgraded_ontology/low_level_ontology_no_defs/*
backpain_data_upgraded_ontology/high_level_ontology_no_defs/*
backpain_data_upgraded_ontology/full_ontology_no_defs/*
backpain_data_upgraded_ontology/low_level_ontology_11_8/*
backpain_data_upgraded_ontology/high_level_ontology_11_8/*
backpain_data_upgraded_ontology/full_ontology_11_8/*
backpain_data_upgraded_ontology/sci_subcategories_ontology/*
backpain_data_upgraded_ontology/sci_categories_ontology/*
backpain_data_upgraded_ontology/sci_full_ontology/*
backpain_data_upgraded_ontology/sci_full_ontology_alt_hierarchy/*
ontology_mapping_evaluation/*
rag_indexes/*
evaluation/answers/*
evaluation/answers2/*
evaluation/predictions/*
evaluation/ragas_eval/*
evaluation/figs
.env
